@model IEnumerable<Week8LabReddit.Models.Post>

@{
    ViewBag.Title = "Post";
}

<h2>Dreaddit</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@foreach (var item in Model.OrderByDescending(x => x.Popularity))
{

    <div class="post">
        <div class="postrank" data-postid="@item.PostId">
            <span class="glyphicon glyphicon-arrow-up up" aria-hidden="true"></span>
            <br />
            <span class="votes">@item.Popularity</span>
            <br />
            <span class="glyphicon glyphicon-arrow-down down" aria-hidden="true"></span>

        </div>
        <div class="postimage">
            <img width="50" src="@item.Url" />
 
        </div>
        <div class="postinfo">
            <span>@item.Title</span>
        </div>
    </div>
}
@section scripts{

    <script>
        $(document).ready(function () {
            $("span.up, span.down").click(function () {
                var that = $(this);
                var id = that.parent().data("postid");

                var posturl = "@Url.Action("upvote")";
                if (that.hasClass("down"))
                    posturl = "@Url.Action("downvote")";

                $.ajax({
                    url: posturl,
                    data: { postid: id }
                }).success(function (msg) {
                    that.siblings("span.votes").html(msg);
                });
            });
        });

    </script>

}